@import url("screen.css");

/* Article printing */

body>header,
nav,
footer,
aside,
.toggle-sidebar,
.pagination
{
  display: none;
}

html,
body,
article,
#main,
#content
{
  background-color:#FFF;
  border-width:0px;
  margin: 0px;
  padding: 0px;
}

article>h2,
article>header
{
    padding: 0;
}

article>h2
{
    margin-bottom: 0.5em;
    background: none;
}

article>ul>li>a,
article>ul>li>a:link,
article>ul>li>a:hover,
article>ul>li>a:active
{
    text-decoration: none;
    color: black;
}
